Source: sleepproxyclient
Section: unknown
Priority: optional
Maintainer: Andreas Weinlein <andreas.dev@weinlein.info>
Uploaders: Andreas Weinlein <andreas.dev@weinlein.info>
Build-Depends: debhelper (>=10), python3 (>= 3.9), dh-python
Homepage: https://github.com/awein/SleepProxyClient
Standards-Version: 4.0.0

Package: sleepproxyclient
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-dnspython,
 python3-netifaces, python3-avahi, avahi-utils, bash, bc, systemd
Description: mDNS Sleep Proxy Client implementation.
 sleepproxyclient is a Linux implementation for Wake On Demand.
 All announced avahi-services will be registered to all available
 Sleep Proxy Servers on suspend or hibernation. The client will be
 woken up on service access via WOL by the Sleep Proxy Server.
 At least one mDNS announced Sleep Proxy Server (_sleep-proxy._udp) on
 the local network is required to work properly.
